
#header {
    text-align: center;
    font-weight: 400;

}

#image-container {
    display: flex;
    flex-flow: row wrap;
    min-height: 200px;
    min-width: 100px;
    border: solid black 1px;
}

#main {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.dogcard .dogImg{
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    height: auto;
    object-fit: contain;

}

